<div class="wrapper_top">
  <div class="head">

    <p class="logo"><a href="/"></a></p>     

    <div class="er"><a href="#" class="settings">Вход</a> | <a href="/" class="logout">Регистарция</a></div>

    <div id="menu">
      <ul>
        <li><a href="/">О нас</a></li>
        <li><a href="/">Контакты</a></li>
        <li><a href="/">Доставка</a></li>
        <li><a href="/">Способы оплаты</a></li>
        <li><a href="/">Новости</a></li>
        <li><a href="/">Отзывы</a></li>
        <li class="last"></li>
      </ul>
    </div>

    <div class="slb">

      <div class="phone">
        <div>
        Заказ круглосуточно
        <span class="numb">8-800-333-2339</span>
        <span class="back-call">Закажите обратный звонок</span>
        </div>
      </div>

      <div class="search" id="div01">
        <h2>Поиск товара</h2>
        <div class="search-product"><div><span class="leftpart"></span><input type="text" /><span class="rightpart"></span></div></div>
        <a href="/" class="find">Найти</a>
      </div>

      <div class="card">
        <h2>Ваша корзина</h2>
        <p>Ваша корзина пуста.</p>
      </div>

    </div>

  </div>
</div>
