<nav id="taxonomies" class="sidebar-item" data-hook>
  <ul class="left-menu">
    <% Spree::Taxonomy.find_by_name('Категории').root.children.each do |taxon1| %>
    <li>
      <%= link_to content_tag('span', taxon1.name), seo_url(taxon1) %>
        <% if taxon1.children.size > 0 %>
          <ul>
            <% taxon1.children.each do |taxon2| %>
              <li>
          		<%= link_to taxon2.name, seo_url(taxon2) %>
			  </li>
            <% end %>
          </ul>
        <% end %>
    </li>
    <% end %>
  </ul>
</nav>
